html
  background-color $colorBackground

body
  margin-top 0.5em
  background-color $colorBackground

a
  color $colorLink

a:hover, a:focus, a:active
  color $colorLink
  text-decoration none

.je
  margin-top 30px
  h1
    margin-bottom 0
  .meta
    a
      margin-left 5px
