<template name="adminJournalConfig">
  <div class="jc row">
    <div class="six columns">
      {{#autoForm collection=collection id="journal-entry-form" type=formType
          doc=selectedEntry}}
        {{> afQuickField name="title" class="u-full-width"}}
        {{> afQuickField name="body" class="u-full-width"}}
        <button type="submit" class="btn btn-primary">Save</button>
      {{/autoForm}}
    </div>
    <div class="six columns">
      <div class="preview">
        {{#markdown}}{{previewContent}}{{/markdown}}
      </div>
    </div>
  </div>
</template>
